.container {
  width: 500px;
  min-height: 300px;
  background-color: #fff;
  border-radius: 20px;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);;
  width: 100%;
  height: 100vh;
  font-family: Roboto, Helvetica, sans-serif;

  &__title {
    margin: 15px 0 0;
    display: block;
    width: 100%;
    text-align: center;

    &::after {
      display: block;
      content: " ";
      height: 2px;
      background-color: #000;
    }
  }
}
